* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
    width: 100%;
    /* margin: 0px; */
    margin-left: -2px;
    margin-top: -2px;
    /* border: 5px solid #000; */
}

.navbar {
    display: flex;
    height: 10vh;
    width: 100%;
}

.logo-container {
    flex: 1;
    position: relative;
    left: 50px;
}

.logo-image {
    height: 4vh;
    width: 20%;
    display: flex;
    cursor: pointer;
}

.logo-text {
    position: relative;
    bottom: 25px;
    left: 70px;
    color: #fff;
}

.nav-items {
    display: flex;
    list-style-type: none;
    flex: 2;
    justify-content: space-evenly;
    float: left;

}


.nav-item .nav-text {
    text-decoration: none;
    color: #fff;
}


.nav-right {
    position: relative;
    left: 50px;
    flex: 1;
}

.nav-btn {
    background: #cc313d;
    color: #fff;
    cursor: pointer;
    border: 1px solid #cc313d;
    padding: 8px 20px;
}



.header-text {
    font-size: 80px;
    position: relative;
    left: 30px;
    top: 20px;
    color: #fff;
    width: fit-content;
}

.vertical-bar {
    background: #fff;
    height: 5px;
    width: 300px;
    transform: rotate(90deg);
    position: relative;
    top: 166px;
    right: 155px;
}

.header-text-pink {
    color: pink;
}

html, body {
    overflow-x: hidden;
}

.header-text-content {
    /* font-size: 80px; */
    /* margin-left: 30px;
    margin-top: -20px; */
    position: relative;
    left: 35px;
    top: 30px;
    color: #fff;
    width: 80%;
    height: 20vh;
}

.header-btn {
    background: #cc313d;
    padding: 10px 30px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #cc313d;
}

/* Main Content */

.container {
    height: auto;
    width: 100%;
}

.sponsor-bar {
    width: 100%;
    height: 15vh;
    background: lightgrey;
    display: flex;
    align-items: center;
}

.sponsor-title {
    columns: #000;
    display: flex;
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
}

.sponsor-text {
    margin-left: 80px;
}

.sponsor-icons {
    display: flex;
    position: relative;
    left: 80px;
}

.main-content {
    text-align: center;
    margin-top: 80px;
}

.main-content-title {
    font-size: 50px;
}

.main-color {
    color: red;
}

.main-content-btn {
    background: #cc313d;
    color: #fff;
    border: 1px solid #cc313d;
    padding: 10px 30px;
    cursor: pointer;
    font-size: medium;
}

/*Cards */

.cards-row-one {
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
}

.card {
    width: 20%;
    height: 20vh;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-row-two {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    /* text-align: center; */
}

.card-text {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Market with form */

.market-bar {
    background: pink;
    height: 40vh;
    width: 100%;
    margin-top: 80px;
}

.market-title {
    font-size: 40px;
    color: #000;
    font-family: sans-serif;
    font-weight: 200;
    position: relative;
    left: 60px;
    top: 30px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.market-text {
    position: relative;
    left: 60px;
    top: 1px;
    width: fit-content;
    font-size: small;
}

.form {
    position: relative;
    z-index: 20;
    float: right;
    right: 140px;
    bottom: 145px;
    height: 80vh;
    width: 30%;
    background: #f5f5f5;
}

.form-title {
    padding: 5px;
    font-size: xx-large;
    color: #000;
}

.form-text {
    padding: 5px;
}

.form-group {
    text-align: center;
}

.form-item {
    margin-bottom: 15px;
    width: 100%;
}

.input-control {
    padding: 10px 10px;
    width: 80%;
    border: 1px solid grey;
}

.submit-btn {
    background: red;
    padding: 10px 40px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid red;
}

/* Featured Section*/

.featured {
    height: 150vh;
}
.featured-title {
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: 40px;
    width: 40%;
}

.shape-3 {
    position: relative;
    top: 300px;
    left: 250px;
    float: right;
    z-index: 10;
}

/* */

.img-shape-3 {
    position: relative;
    top: 40px;
    animation: 2s rotateLeft ease-in;
    animation-iteration-count: infinite;
}

@keyframes rotateLeft {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

.news-and-updates {
    width: 100%;
    height: 50vh;
}

.news-title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
   
}

.tiles-container {
    display: flex;
}

.tiles {
    width: 30%;
    height: 20vh;
    background: #f1f1f1;
    display: flex;
    position: relative;
    top: 25px;
    left: 150px;
    z-index: 50;
    margin-right: 120px;
}

.img-tile {
    width: 40%;
    height: 20vh;
    border: 1px solid #000;
    /* background: green; */
}

.news-text-title {
    font-size: medium;
    position: relative;
    left: 10px;
    top: 20px;
}

/* Footer */

.footer {
    width: 100%;
    height: 120vh;
    background: grey;
    /* display: flex; */
}

.container-upper {
    height: 60vh;
    width: 100%;
    margin: 10px;
}

.container-bottom{
    display: flex;
    width: 90%;
    height: 40vh;
    position: relative;
    left: 50px;
    /* background: pink; */
}


.footer-logo {
    position: relative;
    top: 40px;
    left: 10px;
    height: fit-content;
    width: 40%;
    /* width: 100%; */
}



.footer-logo-text {
    color: #fff;
}

.logo-image-text {
    color: #fff;
}   

h4 {
    color: #fff;
}

.quick-links-container {
    display: flex;
    height: 50vh;
    width: 55%;
    float: right;
    position: relative;
    bottom: 98px;
}

.quick-links {
    display: flex;
    width: 25%;
    height: fit-content;
}


.footer-link {
    list-style-type: none;
    height: fit-content;
}

.footer-link-item {
    margin-bottom: 10px;
}

.footer-link-text {
    color: #fff;
    text-decoration: none;
}

.copyright-title {
    font-size: 15px;
    width: 100%;
    color: #fff;
    position: relative;
    left: 40%;
}

.copy-rights-text {
    color: #fff;
    position: relative;
    top: 40px;
    /* height: 20vh; */
}

.footer-bottom {
    display: flex;
    position: relative;
    top: 410px;
    height: 30vh;
    width: 50%;
    right: 90%;

}

/*Media Queries*/

@media screen and (max-width: 360px) {

    .logo-text {
        position: relative;
        left: 40px !important;
    }

    .header {
        margin: 0 !important;
        padding: 0 !important;
    }

    /* html, body {
        overflow-x: hidden !important;
    } */

    .nav-btn {
        display: none;
    }

    .nav-items {
        display: none;
    }

    .header {
        width: 100% !important;
        height: 80vh !important;
    }

    .header-text {
        font-size: 10px;
    }

    .vertical-bar {
        display: none !important;
    }

    .header-text-content {
        font-size: 10px;
        position: relative;
        left: 30px !important;
    }

    .sponsor-text {
        font-size: 10px !important;
    }

    .main-content-title {
        font-size: 20px;
    }

    .main-content-text {
        font-size: 15px !important;
    }

    .sponsor-bar {
        height: 45vh;
        flex-direction: column !important;
    }

    .sponsor-icons {
        display: flex;
        flex-direction: column !important;
        position: relative;
        left: 1px !important;
        top: 40px !important;
    }

    .cards-row-one {
        display: flex;
        flex-direction: column !important;
        position: relative;
        left: 25% !important;

    }

    .card{
        display: flex;
        width: 50% !important;
        margin-bottom: 10px !important;
    }

    .cards-row-two {
        flex-direction: column !important;
        position: relative;
        left: 25% !important;
    }

    .market-title {
        font-size: 20px;
        text-align: left !important;
    }

    .market-text {
        height: 3vh !important;
        width: 80% !important;
    }

    .featured {
        width: 100% !important;
        position: relative;
        top: 520px !important;
        height: 120vh !important;
    }

    .featured-title {
        font-size: 20px !important;
        text-align: left !important;
        position: absolute;
        top: 0px !important;

    }

    .shape-3 {
        display: none !important;
    }

    .form {
        /* float: left !important; */
        width: 100% !important;
        z-index: 0;
        position: relative;
        left: 5px !important;
        top: 150px !important;
    }

    .tiles-container {
        flex-direction: column !important;
    }

    .news-and-updates {
        position: relative;
        height: 80vh !important;
        top: 300px !important;
    }

    .tiles {
        position: relative;
        top: 80px !important;
        left: 10px !important;
        width: 90% !important;
        margin-bottom: 10px !important;
    }

    .footer {
        position: relative;
        top: 400px !important;
        height: 360vh;
    }

    .news-text-title {
        font-size: 12px !important;
    }

    .quick-links-container {
        position: relative;
        top: 80px;
        right: 150px;
        flex-direction: column !important;
        /* flex-direction: column !important; */
    }

    .quick-links {
        width: 90% !important;
        margin-bottom: 40px !important;
    }

    .copyright-title {
        position: relative;
        left: 2px !important;
        font-size: 12px !important;
    }

    .copy-rights-text {
        position: relative;
        top: 100px !important;
        text-indent: 10px !important;
        left: 10px !important;

    }

    .copyright-container {
        height: 100vh !important;
        width: 100% !important;
    }

    .container-bottom {
        position: relative;
        left: 0px !important;
        top: 800px !important;
    }

}
